<div style="float:right">
    <div id="influads_block" class="influads_block"> </div>

    <script type="text/javascript">(function(){ var acc =   "acc_227d265_pub";var st ="css";var or= "v";var e=document.getElementsByTagName("script")[0];var d=document.createElement("script");d.src=('https:' == document.location.protocol ?'https://' : 'http://') +"engine.influads.com/show/"+or+"/"+st+"/"+acc;d.type="text/javascript"; d.async=true; d.defer=true; e.parentNode.insertBefore(d,e);})();</script>
</div>

<h1><a href="#">CloudEdit</a></h1>
<h2>A Backbone.js Rails Example by <a href="http://www.jamesyu.org/">James Yu</a>. <a href="http://www.jamesyu.org/2011/01/27/cloudedit-a-backbone-js-tutorial-by-example/">Read the tutorial here</a>.</h2>

<div id="notice"></div>

<div id="app"></div>

<p>Note: Only the last 50 documents are shown.</p>

<script type="text/javascript">
    $(function() {
        App.init();
    });
</script>
