<h1><a href="#">CloudEdit</a></h1>
<h2>A Backbone.js Rails Example by <a href="http://www.jamesyu.org/">James Yu</a>. <a href="http://www.jamesyu.org/2011/01/27/cloudedit-a-backbone-js-tutorial-by-example/">Read the tutorial here</a>.</h2>

<div id="notice"></div>

<div id="app"></div>

<p>Note: Only the last 50 documents are shown.</p>

<script type="text/javascript">
    $(function() {
        App.init();
    });
</script>
