<!doctype html>  
    <!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
    <!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
    <!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
    <!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
      <meta charset="utf-8">

      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

      <title>CloudEdit</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <%#= stylesheet_link_tag :all, :cache => true %>
      <%= include_stylesheets :app, :media => 'all' %>
      <%= include_javascripts :app %>
    </head>

    <body>
        <%= yield %>
    </body>
</html>
